<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration

        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <plugins>
        <!-- 配置分页拦截器 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 支持通过 Mapper 接口参数来传递分页参数，默认值false，分页插件会从查询方法的参数值中，
                 自动根据上面 params 配置的字段中取值，查找到合适的值时就会自动分页。 -->
            <property name="supportMethodsArguments" value="true"/>
        </plugin>
    </plugins>
    <environments default="mysql">
        <!--配置数据库连接环境-->
        <environment id="mysql">
            <transactionManager type="JDBC"></transactionManager>
            <!--数据源：driver、url、username、password-->
            <dataSource type="POOLED">
                <!-- 连接mysql数据库的驱动程序 -->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"></property>
                <!-- 连接mysql数据库的地址 -->
                <property name="url" value="jdbc:mysql://localhost:3306/youjiashuyuan"></property>
                <!-- 连接mysql数据库的管理员 -->
                <property name="username" value="root"></property>
                <!-- 连接mysql数据库的管理员的密码 -->
                <property name="password" value="ccx2019"></property>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- 映射文件地址要记住把映射文件所在数据包中的"."换成“/” -->
        <mapper resource="mapper/magazinesMapper.xml"/>
        <mapper resource="mapper/backMapper.xml"/>
        <mapper resource="mapper/loginMapper.xml"/>
        <mapper resource="mapper/userMapper.xml"/>
        <mapper resource="mapper/MTypeMapper.xml"/>
        <mapper resource="mapper/shopCartMapper.xml"/>
    </mappers>
</configuration>