.main{
    margin-top: 10px;
}
#TitleTap{
    background-color: #C3E7FF;
}
  td{
     font-size: 14px;
  }
.imgup{
    margin-top: 30px;
    height: 140px;
}
#zazhiF{
    width: 100px;
    height: 140px;
}
.buttom{
    margin-top: 20px;
    height: 50px;
}
